.projects-section
	height: 100%
	min-height: 100vh!important
	background: #e8edec
	background-size: cover
	display: flex
	flex-direction: column
	align-items: flex-start
	justify-content: flex-start
	padding: #{$header_height + 16px} 16px
	@include tablet-xl
		padding: 20px
	@include desktop
		padding: $header_height

	.project_title
		&.first
			+tablet-xl
				margin: 0 0 20px
			+desktop
				margin-bottom: 40px

	.container
		display: grid
		justify-items: center
		align-items: start
		justify-content: space-between
		align-content: start
		grid-auto-flow: row
		grid-column-gap: 10px
		grid-row-gap: 10px
		grid-template-columns: 1fr 1fr
		padding: 0
		@include tablet-xl
			grid-template-columns: 1fr 1fr 1fr
		@include desktop-xl
			grid-template-columns: 1fr 1fr 1fr 1fr

.article
	width: 100%
	overflow: hidden
	box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05)

	.link
		width: 100%
		display: block
		overflow: hidden
		&:hover
			img
				transform: scale(1.1)
		img
			transition: transform .2s ease
			width: 100%
			display: block

	header
		background: #fff
		margin: 0
		padding: 15px 10px

		.title
			text-align: left
			margin: 0

		.sub_title
			text-align: left
			margin: 0
			font-size: 14px
			color: #43454B
			opacity: .5
